In [1]:
import pandas as pd

In [2]:
BASE_PATH = '/home/baldasseroniluisesteban/buckets/b1/datasets/'

df = pd.read_csv(BASE_PATH + 'competencia_02_sin_nulos.csv.gz')
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,865361379,202101,1,0,0,34,134,445.55,5462.66,385.70,...,4.0,0.0,-779.25,0.0,4074.0,779.25,2.0,0.0,35.19,CONTINUA
1,865361379,202102,1,0,0,34,135,525.97,5734.45,380.13,...,-3.0,0.0,-788.60,0.0,4102.0,861.70,2.0,0.0,35.19,CONTINUA
2,865361379,202103,1,0,0,34,136,2075.33,7553.68,1994.59,...,1.0,0.0,-872.05,0.0,4133.0,988.35,2.0,0.0,46.92,CONTINUA
3,865361379,202104,1,0,0,34,137,-1077.29,6202.98,-1159.95,...,2.0,0.0,-1000.21,0.0,4163.0,988.35,2.0,0.0,46.92,CONTINUA
4,865361379,202105,1,0,0,34,138,541.40,5178.31,475.75,...,5.0,0.0,-1000.21,0.0,4194.0,988.35,2.0,0.0,46.92,CONTINUA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4735593 entries, 0 to 4735592
Columns: 155 entries, numero_de_cliente to clase_ternaria
dtypes: float64(91), int64(63), object(1)
memory usage: 5.5+ GB

In [5]:
df.describe()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
count,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,...,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06,4.735593e+06
mean,7.425024e+08,2.020005e+05,9.536704e-01,4.578307e-03,5.521684e-01,4.676512e+01,1.319457e+02,2.257373e+03,2.559108e+04,1.119460e+03,...,-5.708700e-02,6.349712e+00,5.001662e+03,-2.699271e+04,1.598836e+01,3.145102e+03,1.696529e+04,8.414712e+00,-1.231561e-01,4.460567e+03
std,3.082527e+08,7.715598e+01,2.101979e-01,6.750813e-02,5.064184e-01,1.287174e+01,8.385252e+01,6.976118e+03,5.801515e+04,2.542640e+03,...,7.134903e+00,4.998834e+01,2.204006e+04,4.085428e+04,1.775162e+02,2.120056e+03,3.221313e+04,9.677903e+00,4.492652e-01,1.747707e+04
min,2.492211e+08,2.019010e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,-4.473306e+05,-1.885714e+06,-1.758280e+05,...,-1.000000e+00,-3.000000e+00,-1.000000e+00,-7.691583e+06,0.000000e+00,1.000000e+00,-1.849980e+06,0.000000e+00,-1.000000e+00,0.000000e+00
25%,5.063210e+08,2.019100e+05,1.000000e+00,0.000000e+00,0.000000e+00,3.700000e+01,6.200000e+01,0.000000e+00,2.922010e+03,1.417300e+02,...,0.000000e+00,1.000000e+00,0.000000e+00,-3.063592e+04,0.000000e+00,1.420000e+03,2.673390e+03,3.000000e+00,0.000000e+00,3.284400e+02
50%,7.037226e+08,2.020060e+05,1.000000e+00,0.000000e+00,1.000000e+00,4.500000e+01,1.240000e+02,1.136710e+03,1.404195e+04,5.997700e+02,...,0.000000e+00,4.000000e+00,0.000000e+00,-1.648543e+04,0.000000e+00,2.913000e+03,8.020180e+03,6.000000e+00,0.000000e+00,1.384140e+03
75%,9.599964e+08,2.021010e+05,1.000000e+00,0.000000e+00,1.000000e+00,5.600000e+01,1.830000e+02,2.763280e+03,3.043619e+04,1.482710e+03,...,0.000000e+00,7.000000e+00,0.000000e+00,-7.956110e+03,0.000000e+00,4.558000e+03,1.845075e+04,1.000000e+01,0.000000e+00,3.648030e+03
max,1.603867e+09,2.021080e+05,1.000000e+00,1.000000e+00,4.000000e+00,1.080000e+02,3.800000e+02,2.832073e+06,5.625540e+06,1.167083e+06,...,2.853120e+03,6.242000e+03,2.639250e+06,4.573480e+05,4.527039e+04,1.279000e+04,4.323422e+06,2.790000e+02,4.700000e+01,8.329719e+06

In [7]:
ganancia_acierto = 273000
costo_estimulo = 7000

mes_train_inicio = 202002
mes_train_final = 202102
mes_test = 202104

# agregue sus semillas
semillas = [127,181,13]

data_train = df[(df['foto_mes'] >= mes_train_inicio) & (df['foto_mes'] <= mes_train_final)]
data_test = df[df['foto_mes'] == mes_test]

In [ ]:
data_train.drop(columns='clase_ternaria').corr()