In [1]:
# Por ahora, se corre solamente "Configuraciones generales" y "Ajustes por inflación".

## A. Configuraciones generales.

In [2]:
#1. Librerías.
%run "../librerias.ipynb"

Matplotlib is building the font cache; this may take a moment.

/home/baldasseroniluisesteban/.venv/lib/python3.12/site-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)
/home/baldasseroniluisesteban/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
#2. Constantes.
%run "../constantes.ipynb"

mes_train = mes_train_all_menos_1
mes_test = mes_test
dataset_output = dataset_file_preprocesado_all_1

In [4]:
#3. Funciones.
%run "../funciones.ipynb"

In [5]:
#4. Lectura de datos.
data = pd.read_csv(dataset_file_clase_ternaria)

## B. Data Quality.

#### 1. Valores nulos.

In [6]:
#a. Evaluamos.
train_data = data[data['foto_mes'].isin(mes_train)]
score_data = data[data['foto_mes'] == mes_test]

train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

,Train Null Percentage,Score Null Percentage,diff
clase_ternaria,0.000000,100.000000,100.000000
tmobile_app,14.860731,0.000000,14.860731
cmobile_app_trx,14.860731,0.000000,14.860731
Master_mconsumospesos,60.340490,56.999952,3.340538
Master_cconsumos,60.340490,56.999952,3.340538
...,...,...,...
mpayroll,0.000000,0.000000,0.000000
mpayroll2,0.000000,0.000000,0.000000
cpayroll2_trx,0.000000,0.000000,0.000000
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000
mforex_buy,0.000000,0.000000,0.000000

#### 2. Valores 0.

In [7]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)

In [8]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar = list(diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5) & (diff_zero_percentage_sorted["Score Zero Percentage"] > diff_zero_percentage_sorted["Train Zero Percentage"])].index)
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_4713/277921246.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_4713/277921246.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

#### 3. Valores <0.

In [9]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Visa_fultimo_cierre,4.417596,0.000000,4.417596
Master_fultimo_cierre,4.291388,0.000000,4.291388
mcuenta_corriente,0.001822,0.003622,0.001800
Master_Finiciomora,0.001028,0.000000,0.001028
Master_msaldototal,0.003107,0.002415,0.000692
...,...,...,...
cseguro_accidentes_personales,0.000000,0.000000,0.000000
cseguro_vivienda,0.000000,0.000000,0.000000
cseguro_auto,0.000000,0.000000,0.000000
cseguro_vida,0.000000,0.000000,0.000000
clase_ternaria,0.000000,0.000000,0.000000

#### 4. Valores duplicados.

In [10]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Ajustes por inflación.

In [11]:
#1. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [12]:
#2. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## D. Exportación.

In [13]:
#1. Exportación propiamente dicha.
data.to_csv(dataset_output,index=False)

In [14]:
data['foto_mes'].unique()

array([201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
       201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004,
       202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012,
       202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108,
       202109])