In [1]:
# Por ahora, se corre solamente "Configuraciones generales" y "Ajustes por inflación".

## A. Configuraciones generales.

In [2]:
#1. Librerías.
%run "../librerias.ipynb"

/home/baldasseroniluisesteban/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
#2. Constantes.
%run "../constantes.ipynb"

mes_train = mes_train_all_menos_1
mes_test = mes_test
dataset_output = dataset_file_preprocesado_all_1

In [4]:
#3. Funciones.
%run "../funciones.ipynb"

In [5]:
#4. Lectura de datos.
data = pd.read_csv(dataset_file_clase_ternaria)

## B. Data Quality.

#### 1. Valores nulos.

In [6]:
#a. Evaluamos.
train_data = data[data['foto_mes'].isin(mes_train)]
score_data = data[data['foto_mes'] == mes_test]

train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

,Train Null Percentage,Score Null Percentage,diff
clase_ternaria,0.000000,100.000000,100.000000
tmobile_app,14.860731,0.000000,14.860731
cmobile_app_trx,14.860731,0.000000,14.860731
Master_mconsumototal,60.340490,58.356403,1.984087
Master_cconsumos,60.340490,58.356403,1.984087
...,...,...,...
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mpayroll,0.000000,0.000000,0.000000

#### 2. Valores 0.

In [7]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)

In [8]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar = list(diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5)&(diff_zero_percentage_sorted["Score Zero Percentage"]>diff_zero_percentage_sorted["Train Zero Percentage"])].index)
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_32991/743180382.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_32991/743180382.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

#### 3. Valores <0.

In [9]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Visa_fultimo_cierre,4.417596,0.000000,4.417596
Master_fultimo_cierre,4.291388,0.000000,4.291388
Master_Finiciomora,0.001028,0.000000,0.001028
mcuenta_corriente,0.001822,0.001209,0.000613
mactivos_margen,0.001752,0.001209,0.000543
...,...,...,...
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
cpagodeservicios,0.000000,0.000000,0.000000
mpayroll2,0.000000,0.000000,0.000000

#### 4. Valores duplicados.

In [10]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Data Drifting.

In [11]:
#1. Aplicamos PSI a casi todas las variables, excepto las de no interés.
psi_results = []
for column in train_data.columns:
  if column not in ['foto_mes','numero_de_cliente','clase_ternaria']:
    train_variable = train_data[column]
    score_variable = score_data[column]
    psi_value = psi(train_variable, score_variable)
    psi_results.append({'feature': column, 'psi': psi_value})

psi_df = pd.DataFrame(psi_results)
psi_df = psi_df.sort_values('psi', ascending=False)

/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_32991/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)

In [12]:
#2. Observamos variables con PSI >= 0.1 (casos a atender).
psi_df[psi_df["psi"] > 0.1]["feature"]

131            Visa_fultimo_cierre
129            Visa_madelantopesos
96                 cmobile_app_trx
101             Master_Finiciomora
30           mprestamos_prendarios
48                       mpayroll2
110          Master_fultimo_cierre
61     mcajeros_propios_descuentos
47                        mpayroll
100            Master_Fvencimiento
67       mcomisiones_mantenimiento
123               Visa_Finiciomora
5             mrentabilidad_annual
6                      mcomisiones
69               mcomisiones_otras
4                    mrentabilidad
22                   mautoservicio
73       mtransferencias_recibidas
7                  mactivos_margen
139               Visa_mpagominimo
133               Visa_mpagospesos
8                  mpasivos_margen
25           mtarjeta_visa_consumo
125               Visa_msaldopesos
75        mtransferencias_emitidas
72       ctransferencias_recibidas
124               Visa_msaldototal
87      chomebanking_transacciones
112             Master_mpagospesos
74        ctransferencias_emitidas
Name: feature, dtype: object

## D. Ajustes por inflación.

In [13]:
#1. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [14]:
#2. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## E. Exportación.

In [ ]:
#1. Exportación propiamente dicha.
data.to_csv(dataset_output,index=False)